05-manage/01-backup-restore/json/backup/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {   
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "301_conditionalaccess_policy_backup_automation",
            "location": "[resourceGroup().location]",    
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "AutoPilotConditionalAccessKeyVaultClientCredentials": {
                            "defaultValue": "https://conditionalaccessapi.vault.azure.net/secrets/CAAPISecret/5cabc0534679485da9d86f72f59c419c",
                            "type": "String"
                        },
                        "ClientID": {
                            "defaultValue": "74ee4ba5-0209-483b-b523-f312c22894fd",
                            "type": "String"
                        },
                        "TenantID": {
                            "defaultValue": "92f162f8-5a09-476c-9b4d-e3a4d6c8abe7",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Schedule_backup_of_production_conditional_access_policies": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "18"
                                    ],
                                    "minutes": [
                                        0
                                    ]
                                },
                                "timeZone": "GMT Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Backup_folder_display_name": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DateTime",
                                        "type": "string",
                                        "value": "@{substring(utcNow(),0,10)}"
                                    }
                                ]
                            }
                        },
                        "Create_daily_backup_folder": {
                            "runAfter": {
                                "Parse_all_conditional_access_policies": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "This backup of conditional access policies was taken at @{utcNow()}",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedriveforbusiness_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/ConditionalAccess/Backup/@{variables('DateTime')}",
                                    "name": "readme.txt"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Delay": {
                            "runAfter": {
                                "Create_daily_backup_folder": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 1,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "For_each_conditional_access_policy": {
                            "foreach": "@body('Parse_All_Conditional_Access_Policies')?['value']",
                            "actions": {
                                "Conditional_access_policy_json": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@items('For_each_conditional_access_policy')"
                                },
                                "Create_file": {
                                    "runAfter": {
                                        "Conditional_access_policy_json": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@outputs('Conditional_access_policy_json')",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['onedriveforbusiness_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/ConditionalAccess/Backup/@{variables('DateTime')}",
                                            "name": "[@{item()?['id']}] @{item()?['displayName']}.json"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Delay": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "GET_all_conditional_access_policies_": {
                            "runAfter": {
                                "Parse_response_from_key_vault": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "@parameters('ClientID')",
                                    "secret": "@body('Parse_response_from_key_vault')?['value']",
                                    "tenant": "@parameters('TenantID')",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/identity/conditionalAccess/policies"
                            }
                        },
                        "GET_client_secret_from_key_vault_using_managed_identity": {
                            "runAfter": {
                                "Backup_folder_display_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://vault.azure.net",
                                    "identity": "ManagedServiceIdentity",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "queries": {
                                    "api-version": "2016-10-01"
                                },
                                "uri": "@parameters('AutoPilotConditionalAccessKeyVaultClientCredentials')"
                            }
                        },
                        "Parse_all_conditional_access_policies": {
                            "runAfter": {
                                "GET_all_conditional_access_policies_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GET_all_conditional_access_policies_')",
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "conditions": {
                                                        "properties": {
                                                            "applications": {
                                                                "properties": {
                                                                    "excludeApplications": {
                                                                        "type": "array"
                                                                    },
                                                                    "includeApplications": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "includeUserActions": {
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "clientAppTypes": {
                                                                "type": "array"
                                                            },
                                                            "deviceStates": {},
                                                            "locations": {},
                                                            "platforms": {},
                                                            "signInRiskLevels": {
                                                                "type": "array"
                                                            },
                                                            "users": {
                                                                "properties": {
                                                                    "excludeGroups": {
                                                                        "type": "array"
                                                                    },
                                                                    "excludeRoles": {
                                                                        "type": "array"
                                                                    },
                                                                    "excludeUsers": {
                                                                        "type": "array"
                                                                    },
                                                                    "includeGroups": {
                                                                        "type": "array"
                                                                    },
                                                                    "includeRoles": {
                                                                        "type": "array"
                                                                    },
                                                                    "includeUsers": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "createdDateTime": {},
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "grantControls": {
                                                        "properties": {
                                                            "builtInControls": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "customAuthenticationFactors": {
                                                                "type": "array"
                                                            },
                                                            "operator": {
                                                                "type": "string"
                                                            },
                                                            "termsOfUse": {
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": [
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "modifiedDateTime": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "sessionControls": {},
                                                    "state": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_response_from_key_vault": {
                            "runAfter": {
                                "GET_client_secret_from_key_vault_using_managed_identity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GET_Client_Secret_from_Key_Vault_using_Managed_Identity')",
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "properties": {
                                                "created": {
                                                    "type": "integer"
                                                },
                                                "enabled": {
                                                    "type": "boolean"
                                                },
                                                "recoveryLevel": {
                                                    "type": "string"
                                                },
                                                "updated": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "onedriveforbusiness_1": {
                                 "connectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/onedriveforbusiness')]",
                                "connectionName": "onedriveforbusiness-1",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/onedriveforbusiness')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
